<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Michael Yu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#224A7F" />
    <link rel="manifest" href="/manifest.json" />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap"
      rel="preload"
      as="style"
      crossorigin
    />
  </head>
  <body
    style="margin: 0; height: 100vh; width: 100vw; display: flex; justify-content: center;"
  >
    <div id="mount"></div>
  </body>
</html>
